# --- Python ---
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# --- Ambiente Virtual ---
# Recomendado usar .venv, venv ou env
venv/
.venv/
env/
ENV/
.env

# --- Ambiente / Segredos ---
.env
.flaskenv
*.log

# --- Testes / Cobertura ---
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# ==========================================
# 1. Dados e Arquivos Grandes (Crucial)
# ==========================================
# Ignora a pasta de dados brutos para não vazar informações de clientes
data/
*.csv
*.xlsx
*.parquet

# Ignora os arquivos gigantes gerados pelo seu script do SHAP
shap/out/

# Ignora o modelo treinado (se for muito pesado)
*.joblib
*.pkl
*.model

# ==========================================
# 3. Streamlit e Jupyter Notebooks
# ==========================================
# Ignora arquivos de checkpoint do Jupyter
.ipynb_checkpoints/

# Ignora credenciais ou configurações locais do Streamlit
.streamlit/secrets.toml

# ==========================================
# 4. Sistema Operacional e IDEs
# ==========================================
.vscode/
.DS_Store
Thumbs.db
.idea/
